body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
  }
section {
    margin-bottom: 25px;
  }
code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
  }
img {
    vertical-align: middle;
  }
textarea {
    vertical-align: middle;
  }
label {
    font-weight: bold;
  }
body{
    background-color:#bde0fc;
 }
th, td{
    border: 1px solid black;
    border-radius: 10px;
    border-style: outset;
 }
th, td{
    background-color: #cdb4db;
    border-color:black;
}
